{% extends "layout.html" %}
{% block body %}
<script language="javascript" type="text/javascript" src="/static/js/containeredit.js"></script>
<div id="whoami" style="display:none">{{entries }}</div>
<div class="row"> <!-- row 1 -->
  <div class="col-md-12">
    <div class="panel panel-primary"> <!-- panel 1 -->
      <div class="panel-heading">
{{entries }}        
      </div>
      <div class="panel-body">
        <table class="entries table table-stripped">
          <tr>
            <th>State</th><th>IP</th><th>Mem. Usage</th><th>Actions</th>
          </tr>
          <tr id="containerstatus" >
            <td id="state"></td>
            <td id="ip"></td>
            <td id="mem"></td>
            <td>
              <div class="btn-group-xs btn-group" role="group" aria-label="Center">
                <button id="start" type="button" class="btn btn-primary" aria-label="Left Align">
                  <span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <button id="stop" type="button" class="btn btn-primary" aria-label="Left Align">
                  <span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>
                </button>
                <button id="backup" type="button" class="btn btn-primary" aria-label="Left Align">
                  <span class="glyphicon glyphicon glyphicon-save" aria-hidden="true"></span>
                </button>
                <button id="delete" type="button" class="btn btn-danger" aria-label="Left Align">
                  <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div> <!-- panel 1 -->
  </div>
</div> <!-- row spacer 1 -->
<div class="row"> <!-- row 3 -->
  <div class="col-md-6">
     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          FTP User
        </h3>
      </div>
      <div class="panel-body">
        <table id="ftpuser" class="entries table table-stripped">
          <thead>
            <tr>
              <th>User</th>
              <th>Password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="spacer">
          <button type="button" class="btn btn-primary" aria-label="Left Align" onclick=preselectUser($("#adduser"),'{}')>
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add User
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Domains
        </h3>
      </div>
      <div class="panel-body">
        <table id="domains" class="entries table table-stripped">
          <thead>
            <tr>
              <th>Domain</th>
              <th>WWW</th>
              <th>SSL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="spacer">
          <button type="button" class="btn btn-primary" aria-label="Left Align" onclick=preselectDomain($("#adddomain"),'')>
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add Domain
          </button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row 3 -->
<div class="row"> <!-- row 4 -->
  <div class="col-md-12">
     <div class="panel panel-primary">
       <div class="panel-heading">
        Databases
      </div>
      <div class="panel-body">
        <table id="databases" class="entries table table-stripped">
          <thead>
            <tr>
              <th>User/Database</th>
              <th>Password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="spacer">
          <button type="button" class="btn btn-primary" aria-label="Left Align" onclick=preselectDatabase($("#adddatabase"),'')>
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add Database
          </button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row 4 -->
<div class="row spacer"> <!-- row 5 -->
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" aria-label="Left Align" onclick='location.href="/"'>
      Back
    </button>
  </div>
</div> <!-- row 5 -->


<!-- Modal Dialoges -->

<div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <div class="modal-header">
        <!-- Form Name -->
        <legend>Add User</legend>
      </div>
      <div class="modal-body" id="userform">
        <div class="row">
          <div class="col-md-12">
            <div class="control-group">
              <label class="control-label" for="user">Username</label>
              <div class="controls">
                <input name="user" type="text" placeholder="Username" class="input-xlarge form-control username">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <div class="input-group">                    
                  <input name="password" type="text" placeholder="Password" class="pwd input-xlarge form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default rndbutton">Random</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="container" name="container">
      <div class="modal-footer">
      <!-- Button (Double) -->
        <div class="control-group">
          <label class="control-label" for="action"></label>
          <div class="controls">
            <button id="saveuser" name="action" class="btn btn-primary savebtn"	>
              <span class="glyphicon glyphicon-refresh spinning hidden"></span>Save
            </button>
            <button name="cancel" class="cancelbutton btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>


<div class="modal fade" id="adddomain" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Form Name -->
        <legend>Add Domain</legend>
      </div>
      <div class="modal-body domainform">
        <div class="row">
          <div class="col-md-8">
            <div class="control-group">
              <label class="control-label" for="user">Domain</label>
                <div class="controls">
                  <input id="domain" name="domain" type="text" placeholder="domain.tld" class="input-xlarge form-control">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="control-label" for="password">WWW</label>
              <div class="controls">
                <input id="www" name="www" type="checkbox" placeholder="Include www subdomain" class="form-control yesnoswitch">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="control-group">
                <label class="control-label" for="password">Certificate</label>
                <div class="controls">
                  <pre><textarea id="certificate" name="certificate" placeholder="certifikate and key blob" class="input-xlarge form-control"></textarea></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- Button (Double) -->
          <div class="control-group">
            <label class="control-label" for="action"></label>
            <div class="controls">
              <button id="savedomain" name="action" class="btn btn-primary savebtn">
                <span class="glyphicon glyphicon-refresh spinning hidden"></span>Save
              </button>
              <button name="cancel" class="cancelbutton btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="modal fade" id="adddatabase" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Form Name -->
        <legend>Add Database</legend>
      </div>
      <div class="modal-body" id="databaseform">
        <div class="row">
          <div class="col-md-12">
            <div class="control-group">
              <label class="control-label" for="user">User/Database</label>
              <div class="controls">
                <input name="user" type="text" placeholder="Database username" class="username input-xlarge form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <div class="input-group">
                  <input name="password" type="text" placeholder="Password" class="pwd input-xlarge form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default rndbutton" >Random</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <!-- Button (Double) -->
        <div class="control-group">
          <label class="control-label" for="action"></label>
          <div class="controls">
            <button id="savedatabase" name="action" class="btn btn-primary savebtn">Save</button>
            <button name="cancel" class="cancelbutton btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
