<% _.each(admins,function(item,key,list){ %>
<tr>
   <td><%= item.user %></td>
   <td>
     <div class="btn-group-xs btn-group" role="group" aria-label="Center">        
       <button type="button" class="btn btn-primary" aria-label="Left Align" onclick=preselect($("#addadmin"),'<%= item.user %>')>
         <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
       </button>
       <button type="button" class="btn btn-danger" aria-label="Left Align" onclick=del('<%= item.user %>')>
         <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
       </button>
     </div>
   </td>
</tr>
<% }); %>
