<%
  _.each(items,function(item,key,list){
%>
  <tr>
    <td>
      <a href='/container/<%= item.container %>'><%= item.container %></a>
    </td>
    <td><%= item.date %></td>
    <td><%= item.size %></td>
    <td>
      <div class="btn-group-xs btn-group" role="group" aria-label="Center">        
        <button type="button" class="btn btn-primary" onclick=restore('<%= item.container %>','<%=item.date%>')>
          <span class="glyphicon glyphicon glyphicon-open" aria-hidden="true"></span> Restore
        </button>
        <button type="button" class="btn btn-danger" onclick=del('<%= item.container %>','<%=item.date%>')>
          <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
      </div>
    </td>
  </tr>
<% }); %>
