<% _.each(items,function(item,key,list){
  visible="visibility:hidden";
  status="success";
  if(item.warnings.length>0){
    visible="visibility:visible"
    status="warning";
  }
  if(item.status=="STOPPED"){
    status="danger";
  }
%>
<tr class="<%= status %>">
  <td><a href="/container/<%= item.data.name %>"><%= item.data.name %></a></td>
  <td><%= item.status %></td>
  <td><%= item.data.ip[0]%></td>
  <td><%= item.data.mem %></td>
  <td>
    <div class="btn-group-xs btn-group" role="group" aria-label="Center">
      <button type="button" class="btn btn-primary" aria-label="Left Align" onclick="start('<%= item.data.name %>')">
        <span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-primary" aria-label="Left Align" onclick="stop('<%= item.data.name %>')">
        <span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-primary" aria-label="Left Align" onclick="backup('<%= item.data.name %>');">
        <span class="glyphicon glyphicon glyphicon-save" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="del('<%= item.data.name%>');">
        <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </div>
  </td>
  <td><span class="glyphicon glyphicon-warning-sign" data-placement="bottom" style="<%= visible%>" title="<%= item.warnings%>" data-toggle="tooltip"></span></td>
</tr>
<% }); %>
