<div id="row">
  <div id="col-ms-12">
    <table class="entries table table-stripped">
      <thead>
        <tr>
          <th>Domain</th><th>www</th><th>ssl</th><th>Container</th><th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%
          _.each(items,function(item,key,list){
          if(item.www==1){
            wwwclass="glyphicon-ok";
          }else{
            wwwclass="glyphicon-minus";
          }
          if(item.crtfile!=""){
            crtclass="glyphicon-ok";
          }else{
            crtclass="glyphicon-minus";
          }
        %>
        <tr>
          <td><%= item.domain %></td>
          <td><span class="glyphicon <%= wwwclass %> " aria-hidden="true"></span></td>
          <td><span class="glyphicon <%= crtclass %> " aria-hidden="true"></span></td>
          <td>
            <a href='/container/<%= item.container %>'><%= item.container %></a>
          </td>
          <td>
            <div class="btn-group-xs btn-group" role="group" aria-label="Center">        
              <button type="button" class="btn btn-primary" aria-label="Left Align" onclick=preselectDomain($("#adddomain"),'<%= item.container %>')>
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
              </button>
              <button type="button" class="btn btn-danger" aria-label="Left Align" onclick=del('<%= item.domain %>')>
                <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
              </button>
            </div>
          </td>
       <% }); %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="row">
  <div id="col-ms-12">
    <button type="button" class="btn btn-xs btn-primary" aria-label="Left Align" data-toggle="modal" data-target="#adddomain" onclick="preselect()">add Domain</button>
  </div>
</div>

<!-- Modal Dialog -->

<div class="modal fade" id="adddomain" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Form Name -->
        <legend>Add Domain</legend>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <div class="control-group">
              <label class="control-label" for="domain">Domain</label>
              <div class="controls">
                <input id="domain" name="domain" type="text" placeholder="domain.tld" class="input-xlarge form-control">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="www">WWW</label>
            <div class="controls">
              <input id="www" name="www" type="checkbox" placeholder="Include www subdomain" class="form-control ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="control-group">
              <label class="control-label" for="certificate">Certificate</label>
              <div class="controls">
                <textarea id="certificate" name="certificate" placeholder="certifikate and key blob" class="input-xlarge form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="control-group">
              <label class="control-label" for="container">Container</label>
              <div class="controls">
                <select id="container" name="container" size="1" class="input-xlarge form-control" placeholder="Associated container">
        <%
          _.each(container,function(item,key,list){
        %>
                  <option value="<%= item.data.name %>"><%= item.data.name %></option>
       <% }); %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <!-- Button (Double) -->
        <div class="control-group">
          <label class="control-label" for="action"></label>
          <div class="controls">
            <button name="action" class="savebtn btn btn-primary">Save</button>
            <button id="doublebutton2-0" name="doublebutton2-0" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
